
@{
    ViewData["Title"] = "Create";
}
@model Contract

<div class="container">
    <h3>Thêm</h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post">
        <div class="form-group">
            <label asp-for="Contract_name">Tên hợp đồng</label>
            <input asp-for="Contract_name" type="text" class="form-control" />
            <span asp-validation-for="Contract_name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Signing_Date">Ngày ký kết</label>
            <input asp-for="Signing_Date" type="date" class="form-control" />
            <span asp-validation-for="Signing_Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contract_Value">Giá trị hợp đồng</label>
            <input asp-for="Contract_Value" type="text" class="form-control" />
            <span asp-validation-for="Contract_Value" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Tạo</button>
    </form>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}