@{
    ViewData["Title"] = "Home Page";
}
<header>
    <h2>Giới nhiệu nhóm Chicken noob </h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Nguyễn Thế Vỹ </h1>
    </article>
</section>

<footer>
    <p>Copyright &copy; Nguyen The Vy - @DateTime.Now.Year</p>
</footer>
